*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
 
html {
    font-size: 62.5%;
}

$primary-green-color: #0B6623;
$secondary-green-color: #50C878;

$border-color : #4F7942;
$background-color: #98FB98;


//MEDIA QUERY 
/*

0 - 780px:          Phone
780 - 900px:        Tablet Portrait
900 - 1200px:       Tablet Landscape
1200 - 1800px:      Normal Style
1800px >:           Big Desktop

*/

/*
    $breakpoint argument choices :
        - phone
        - tab-port
        - tab-land
        -  big-desktop

        1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 47.5em) { @content };    //780px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };   //1800px
    }
}

  body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    //font-size: 16px;
    line-height: 1.7;
  }
  

  //Header Section
  .header {
      display: flex;
      border-bottom: 1pt solid black;
      align-items: center;
      justify-content: space-around;

        //Logo Image
  .logo {
    width: 50px;
    height: 50px;
    }

 //Brand Name
 .brandName {
    color: $primary-green-color;
    font-size: 3rem;

    @include respond(phone){
        font-size: 2rem;
    }

    }

 //Tagline
 .tagLine {
    color: $secondary-green-color;
    font-size: 2rem;

    @include respond(phone){
        display: none;
    }

  }

  //ISP Box
  &__isp {
    display: flex;
    background: lighten($color: $background-color, $amount: 10%);
    border: 1.5pt solid darken($color: $border-color, $amount: 10%);
    padding: .2rem 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    font-size: 1.5rem;

    span {
        font-weight: 700;
    }

    @include respond(phone){
        font-size: 1.2rem;
    }

    }

    &__totalHits::before{
        content: "|";
        padding: 0 2rem;
    } 
  }

.ispDetails {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6rem;

    @include respond(tab-port){
        flex-direction: column-reverse;
    }

    .ispAllList {
        margin-top: 2rem;
        flex: 0 0 55%;
        height: 31rem;
        overflow-y: scroll;
        position: relative;
        width: 55%;

        @include respond(tab-port){
         width: 90%;
         margin: auto;
        }

        .ispSearchBar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            width: inherit;
            position: fixed;
            background-color: #ffffff;
            height: 3rem;
            padding-bottom: 1rem;

            & p{
                cursor: pointer;
            }
            

            .searchBox {
                border: 1pt solid lighten($color: #000000, $amount: 40%);
                width: 40%;
                height: 3rem;
                border-radius: .5rem;
                -webkit-border-radius: .5rem;
                -moz-border-radius: .5rem;
                -ms-border-radius: .5rem;
                -o-border-radius: .5rem;
                padding-left: 2.5rem;

                background-image:url("./images/search.png");
                background-repeat:no-repeat;
                background-position: .5rem .5rem;
                background-size: 2rem 2rem;

                &:focus {
                    background-image: none;
                    
                }
}               
        }

        .ispNames {
            margin-top: 4rem;

            .arrow {
                @include respond(tab-port){
                    margin-top: 1rem;
                    transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
}
            }
        }

        .ispSorting {
            width: 100%;
            position: sticky;
            z-index: 3;
            background: #fff;        
            height: 3.5rem;
            bottom: 0;
            padding-top: 1rem;
            display: flex;
            justify-content: space-around;

            .sortBtn, .sortOptions {
                color: $primary-green-color;
                padding: .5rem 1rem;
                cursor: pointer;
                font-size: 1.4rem;             
                border-radius: .5rem;
                -webkit-border-radius: .5rem;
                -moz-border-radius: .5rem;
                -ms-border-radius: .5rem;
                -o-border-radius: .5rem;   
            }

            .sortOptions {
                border: 1pt solid rgb(216,216,216);

                & input[type=radio] {
                    margin-right: 1rem;
                    
                }
            }
        }
    }

    .ispInfo {
        margin-top: 2rem;
        flex: 0 0 40%;
        position: relative;

        @include respond(tab-port){
            width: 90%;
            margin: 3rem auto;
           }

        &--empty{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &--notEmpty {
            display: none;
        }

        .ispInfoName {
            display: flex;
            background: lighten($color: $background-color, $amount: 10%);
            border: 1.5pt solid darken($color: $border-color, $amount: 10%);
            padding: .2rem 1rem;            
            border-radius: .5rem;
            -webkit-border-radius: .5rem;
            -moz-border-radius: .5rem;
            -ms-border-radius: .5rem;
            -o-border-radius: .5rem;
            margin-bottom: 1rem;
            align-items: center;
            justify-content: center;
        }

        .ispBasicInfo {
            display: flex;
            flex-direction: column;

            .ispOtherInfo {
                display: flex;
                justify-content: space-evenly;

                .ispImage {
                    width: 15rem;
                    height: 15rem;
                }

                .ispBasicInfoDetails {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                     //Icon Elements
                    .fas {
                        margin-right: 1rem;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;

            .btn {
                color: $primary-green-color;
                padding: .5rem 1rem;
                cursor: pointer;
                font-size: 1.4rem;
                border-radius: .5rem;
                -webkit-border-radius: .5rem;
                -moz-border-radius: .5rem;
                -ms-border-radius: .5rem;
                -o-border-radius: .5rem;
}
            //Icon Elements
            .fas {
                margin-right: 1rem;
            }
        }

    }
}

.ispName {
    display: flex;
    background: lighten($color: $background-color, $amount: 10%);
    border: 1.5pt solid darken($color: $border-color, $amount: 10%);
    padding: .2rem 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    margin-bottom: 1rem;
    align-items: center;

    & :nth-child(2) {
        margin-left: 1rem;
    }

    & :nth-child(3) {
        margin-left: auto;
    }

    & :nth-child(4){
        padding-left: 1rem;
        cursor: pointer;
    }
}

 

//Change Background Class
.selected {
    background-color: darken($color: $border-color, $amount: 10%);
    color: #ffffff;
}
 